body  {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    text-align: left;
    color: #8F5FAD;
    background-color: #A2FAC9;
    list-style-type: none;
    left:20vh;
    right:20vh;
}

#title {
    font-family: "Helvetica Neue", Papyrus, Copperplate,'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-size: 10vh;
    left: 20%;
    top:10px
}

#foot {
    position: fixed;
    bottom: 0;
    right: 42%;
    left: 42%;
    width: 16%;
}

#cocktail-list-parent {
    position: absolute;
    top: 180px;
    left: 20%;
    font-size: 30px;

}


#reroll {
    background-color:#A2FAC9;
    position: absolute;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #71A38D;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#71A38D;
    text-align:center;
    transition: all 0.2s;
}

#reroll:hover {
    border-radius: 0px;
    background-color: #8F5FAD; 
    color:#A2FAC9;
}

li:hover {
    border-radius: 0px;
    background-color: #8F5FAD; 
    color:#A2FAC9; 
}