body  {
    display: grid;
    grid-gap: 1em;
    grid-template-rows: auto auto 1fr auto;
    min-height: 100vh;
    text-align: left;
    color: #8F5FAD;
    
    list-style-type: none;
    left:20vh;
    right:20vh;
    background: rgb(162,250,201);
    background: linear-gradient(133deg, rgba(162,250,201,1) 0%, rgba(162,250,201,1) 15%, rgba(116,179,144,1) 100%);

}

a {
    color:#8F5FAD;
    transition: all 0.2s;
}

a:hover {
    background-color: #DEB2F0; 
    color:#A2FAC9; 
}

#title {
    font-family: "Helvetica Neue", Papyrus, Copperplate,'Arial Narrow', Arial, sans-serif;
    position: absolute;
    font-size: 10vh;
    left: 20%;
    top:0px;
}

#cocktail-list-parent {
    position: absolute;
    top: 17.5vh;
    left: 40vh;
    right: 40vh;
    font-size: 3vh;

}

#reroll {
    font-size: 3vh;
    left: 20vh;
    background-color:#A2FAC9;
    position: absolute;
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #71A38D;
    margin:0 10em 0.5em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color:#71A38D;
    text-align:center;
    transition: all 0.2s;
}

#reroll:hover {
    border-radius: 0px;
    background-color: #DEB2F0; 
    color:#A2FAC9;
}

#foot {
    position: fixed;
    font-size: 2vh;
    bottom: 0;
    right: 42%;
    left: 42%;
    width: 16%;
}